body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* main 관련 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 100vh;
    background-color: #fee8ea;
}

.layer {
    width: 375px;
}

.layer:nth-child(2) {
    height: 375px;
}

#main_image {
    width: 375px;
    height: 375px;
}
/*index 관련*/
.index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 100vh;
    background-color: #fee8ea;
}
.index-layer {
    width: 375px;
}
.index-layer:nth-child(1) h2 {
    text-align: center;
    vertical-align: top;
}
.index-layer:nth-child(2) {
    height: 600px;
}
#map {
    height: 600px;
}
/*indexFindRoad 관련*/
.index-layer:nth-child(3) iframe {
    height: 800px;
    width: 370px;
}